@import url(http://fonts.googleapis.com/css?family=Montserrat); 

body{ background-color: #eee; font-family: Montserrat; } #logo{ margin: auto; text-align: center; display: block; } .center{ margin: auto; text-align: center; }